amqp==2.1.4
billiard==3.5.0.2
celery==4.0.2
click==6.7
dnspython==1.12.0
Flask==0.12.1
-e git+git@github.com:ritzalam/flaskr.git@f480bbca8b749d878f4b0f01956d2fbf6752d0a5#egg=flaskr
itsdangerous==0.24
Jinja2==2.9.6
kombu==4.0.2
MarkupSafe==1.0
pycrypto==2.6.1
pytz==2017.2
redis==2.10.5
vine==1.1.3
virtualenv==15.0.1
Werkzeug==0.12.1
